.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.message.up {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.message.down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.message.left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.message.right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}